@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-text-blue: #232F9B;
    --color-blue-dark: #2C3F84;
    --color-bg-light-blue: #DEF3FF;
    --color-bg-yellow: #FBD864;
    --font-text: 'Lexend Deca', sans-serif;
    --font-nav: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font-text);
    background-color: var(--color-bg-light-blue);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}