#Contact.content{
    padding-top: 120px; 
    background-color: var(--color-bg-light-blue);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.title-container {
    text-align: center;
    width: 100%;
}


h4{
    font-size: 4rem;
    color: var(--color-text-blue);
    margin:0 auto;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contentContacto {
    position: relative;
    display: flex;
    justify-content: flex-start; 
    align-items: start; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    max-width: 100%; 
}

.contentContacto img {
    flex: 0 1 auto; 
    max-width: 40%; 
}

.contact-wrapper {
    position: absolute;
    top: 250px; /* Ajusta este valor según lo alto que quieras el cuadro y el botón */
    left: 50%; /* Centra el contenedor en el medio */
    transform: translateX(-50%); /* Ajusta esto para centrar exactamente si cambias el ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 40px 20px;
    overflow: auto;
    margin-top: 10px;
    
}

.contact-box {
    width: 400px; 
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    padding: 20px;
}

.button-container {
    text-align: center; 
    width: 100%; 
}

.submit-btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-blue-dark);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.info {
    display: flex;
    color: var(--color-blue-dark);
    font-family: 'Lexend Deca',sans-serif;
    align-items: center; 
    gap: 30px; 
}

.info img {
    width: 50px; 
    height: 50px; 
}

.info p {
    margin: 0; 
    flex: 1; 
}

h3{
    color:var(--color-blue-dark);
}


.contact-form-container {
    position: absolute; 
    right: 300px; 
    top: 65%; 
    transform: translateY(-50%); 
    width: 350px; 
    padding: 20px;
    border-radius: 10px; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-field input,
.form-field textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
    color: var(--color-blue-dark);
    opacity: 1; /* Asegúrate de que el color sea opaco y no se atenúe */
}

.btn {
    align-self: center; 
    padding: 10px 20px;
    color: var(--color-blue-dark);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--color-blue-dark);
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
}