.feature-image
{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.features {
    display: flex;
    justify-content:center;
    gap: 1.5rem;
}
.right {
    background-image: url("/assets/bg-feature2.png");
}
.left {
    background-image: url("/assets/bg-feature1.png");
}
.feature-text {
    font-size: 1.5vw;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2C3F84;
    background-color: #DEF3FF;
    padding:40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: initial;
}
@media screen and (max-width: 800px) {
    .features {
        flex-wrap: wrap;
    }
    .feature-text {
        font-size: 2.5vw;
    }
}