.main_container {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    max-width: 100%;
    z-index: 1;
    margin-top: 3.5rem;

}

.main_content {
    margin-top: 10rem;
    flex: 4;
}

.main_content h1 {
    font-size: 4vw;
    background-color: var(--color-text-blue);
    background-image: linear-gradient(to top, var(--color-text-blue) 0%, #616cc7 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p {
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
    margin-top: 1rem;
}

span{
    background-color: var(--color-bg-yellow);
    background-image: linear-gradient(to top, #dabb55 0%, var(--color-bg-yellow) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
}

.image_container {
    flex: 6;
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 120%;
    margin-top: 1.9rem;
    margin-left: -10rem;
    z-index: -1;
}

.image_container img{
    width: 100%;
    height: auto;
}

.button_Container {
    margin-top: 5vh;
}

button{
    width: 10vw;
    height: 3vw;
    margin-right: 4vw;
    border-radius: 20px;
    font-size: 1vw;
    cursor:pointer;
    border-color: var(--color-text-blue);
    border-style: solid;
    transition: all 0.35s;
}

#learn_button{
    color: #fff;
    background-color: var(--color-blue-dark);
}

#learn_button:hover{
    background-color:#fff;
    color:var(--color-text-blue);
    transform: scale(110%);
}

#start_button{
    color: var(--color-text-blue);
    background-color: transparent;
}

#start_button:hover{
    background-color:var(--color-blue-dark);
    color:#fff;
    transform: scale(110%);
}

@media screen and (max-width:920px ){
    .main_container {
        flex-direction: column;
    }

    .main_content {
        margin-top: 2rem;
        text-align: center;
    }

    .image_container {
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }

    .image_container img{
        width: 100%;
        height: auto;
    }

    .main_content h1{
        font-size: 8vw;
    }

    .main_content p{
        font-size: 3vw;
    }
    
    button{
        width: 20vw;
        height: 6vw;
        font-size: 2vw;
    }
}